<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B&W</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Black and White SPA</h1>
    <form action="/cargar">
    <div>
        <label for="imagen">URL de la imagem</label>
        <input type="text" id="imagen" name="imagen" placeholder="Ingresa la URL">
    </div>
    <button type="submit">ENVIAR</button>
</form>
</body>
</html>